.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
}

.chat-page {
  background-color: #F6F6F6;
}

.chat-page__heading {
  margin: 40px 0 50px 0;
  text-align: left;
  font-size: 38px;
  font-weight: 400;
}

.chat-page__main {
  display: flex;
  padding-bottom: 100px;
}

.chat-page__recent {
  margin-right: 30px;
  min-width: 330px;
}

.chat-page__mob-choose-wrap {
  position: relative;
  display: none;
}

.chat-page__mob-choose {
  color: #F2994A;
  font-size: 12px;
  position: absolute;
  top: -32px;
  cursor: pointer;
}

.chat-page__search-input {
  box-sizing: border-box;
  width: 450px;
  font-size: 16px;
  padding: 18px 0 18px 36px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 40px;
  outline: none;
  position: relative;
}

.chat-page__search-input::placeholder {
  color: #828282;
  font-size: 16px;
}

.chat-page__main-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .chat-page__search-input {
    width: 100%;
  }
  .chat-page__recent {
    margin-right: 15px;
  }
  .chat-page__heading {
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .chat-page__search-input {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .chat-page__recent {
    margin-right: 0;
    width: 100%;
  }
  .chat-page__main-container {
    padding: 0;
  }
  .chat-page__main {
    padding-bottom: 0;
  }
  .chat-page__heading {
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5vh;
  }
  .chat-page__search-input {
    padding: 10px 24px;
    border-radius: 10px;
    margin-bottom: 4vh;
  }
  .chat-page__recent {
    min-width: unset;
  }
  .chat-page__mob-choose-wrap {
    position: relative;
    display: block;
  }
}

.tab {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 50px;
}

.tab li {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 30px;
  font-weight: 550;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}

.tab li:hover {
  color: #F2994A;
  border-bottom: 1px solid #F2994A;
}

.tab li:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .tab {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .tab {
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-between;
  }
}

.checkbox {
  display: block;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
  border: 1px solid red;
  border-radius: 40px;
  margin-right: 16px;
}

.checkbox.hide {
  display: none;
}

@media (max-width: 767px) {
  .checkbox {
    margin-left: 20px;
    margin-right: 0;
  }
}

.recent {
  width: 40%;
  flex-shrink: 0;
}

.recent__dialog-list {
  margin: 0;
  padding: 0;
  min-height: 316px;
  list-style-type: none;
  max-height: 745px;
  overflow-y: auto;
  margin-bottom: 70px;
  scrollbar-width: thin;
  scrollbar-color: #E0E0E0 transparent;
}

.recent__dialog-list::-webkit-scrollbar {
  width: 3px;
  background-color: #E0E0E0;
}

.recent__dialog-list::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 2px;
}

.recent__dialog-card {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  min-width: 316px;
}

.recent__dialog-card:last-child {
  margin-bottom: 0;
}

.recent__dialog {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 20px 15px 15px;
  height: 70px;
  margin-right: 7px;
  position: relative;
  background-color: #F2F2F2;
  cursor: pointer;
}

.recent__new-messages-count {
  position: absolute;
  background-color: #FFC813;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10px;
  right: 21px;
  display: none;
}

.recent__avatar {
  margin-right: 10px;
}

.recent__dialog-wrap {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.recent__sender-name {
  font-size: 14px;
  font-weight: 550;
}

.recent__date {
  color: #BDBDBD;
  font-size: 12px;
}

.recent__dialog-inner {
  display: flex;
  align-items: center;
  width: 100%;
}

.recent__dialog-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.recent__preview-message {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  height: 19px;
  max-width: 295px;
}

.favorite .recent__dialog {
  border-left: 7px solid #FFC813;
}

.new-message .recent__new-messages-count {
  display: flex;
}

.new-message .recent__dialog {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .recent__dialog {
    padding: 10px;
    margin-right: 5px;
  }
  .recent__new-messages-count {
    right: 10px;
  }
  .recent__preview-message {
    max-width: 85%;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .recent__dialog-list {
    margin: 0;
    padding: 0;
    height: 670px;
  }
}

@media (max-width: 767px) {
  .recent {
    width: 100%;
  }
  .recent__dialog-card {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background-color: #fff;
    min-width: unset;
  }
  .recent__dialog {
    margin-right: 0;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
  }
  .recent__dialog-list {
    scrollbar-width: auto;
    scrollbar-color: auto;
    height: calc(92vh - 25px - 40px - 16px - 35px - 50px);
    max-height: unset;
    min-height: unset;
  }
  .recent__dialog-list::-webkit-scrollbar {
    width: 0;
  }
  .recent__preview-message {
    white-space: normal;
  }
  .recent__new-messages-count {
    right: 20px;
  }
  .recent__dialog-card {
    background-color: #F2F2F2;
  }
  .favorite {
    border-left: 6px solid #FFC813;
    background-color: #fff;
  }
  .favorite .recent__dialog {
    border-left: none;
    background-color: #fff;
  }
  .new-message {
    background-color: #fff;
  }
}

.options {
  width: 420px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.options__choose-all-btn, .options__cancel-btn {
  cursor: pointer;
}

.options__col {
  display: flex;
  align-items: center;
}

.options__archivate-btn {
  display: flex;
  align-items: center;
}

.options__archivate-icon {
  width: 15px;
  transform: translateY(-1px);
}

.options__archivate-title {
  margin-left: 7px;
}

.options__archivate-btn {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .options {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .options {
    display: none;
  }
}

.chat {
  width: 60%;
  background-color: #fff;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.chat .choose-chat {
  display: none;
}

.chat__options-btn, .chat__back-btn {
  display: none;
}

.chat__header {
  position: relative;
  box-sizing: border-box;
  padding: 10px 18px;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.chat__mobile-options {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-radius: 4px;
  position: absolute;
  z-index: 5;
  right: 0;
  margin: 0;
  padding: 12px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(88, 88, 88, 0.2);
}

.chat__options {
  display: flex;
}

.chat__favorite-btn {
  margin-right: 20px;
}

.chat__option-btn {
  margin-right: 20px;
  cursor: pointer;
  width: 20px;
}

.chat__header-info {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.chat__product-photo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.chat__product-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chat__field {
  overflow-y: auto;
  max-height: 515px;
  scrollbar-width: thin;
  scrollbar-color: #E0E0E0 transparent;
}

.chat__field::-webkit-scrollbar {
  width: 3px;
  background-color: #E0E0E0;
}

.chat__field::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 2px;
}

.chat__user-name {
  font-size: 14px;
  margin-bottom: 10px;
}

.chat__product-name {
  color: #F2994A;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}

.chat__product-name:hover {
  border-bottom: 1px solid #F2994A;
  cursor: pointer;
}

.chat__avatar-smaller {
  margin-right: 10px;
}

.chat__date {
  color: #BDBDBD;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.chat__message-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.chat__message-text {
  margin: 10px 55px 10px 10px;
}

.chat__sent-time {
  font-size: 10px;
  color: #828282;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.chat__message-body {
  border: 1px solid #E0E0E0;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  max-width: 300px;
}

.chat__message-body::before {
  content: '';
  border-left: 7px solid transparent;
  border-bottom: 8px solid #E0E0E0;
  position: absolute;
  bottom: -1px;
  left: -7px;
}

.chat__message-body::after {
  content: '';
  border-left: 7px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  bottom: 0px;
  left: -5px;
}

.chat__bottom-block {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.chat__bottom-block img {
  cursor: pointer;
}

.chat__multiple-photo {
  margin: 5px 0 10px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat__multiple-photo li {
  cursor: pointer;
  margin: 2px;
  height: 80px;
  width: 48%;
}

.chat__multiple-photo li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chat__send {
  position: absolute;
  width: 26px;
  height: 25px;
  right: 10px;
  bottom: 12px;
}

.chat__textarea {
  border: 1px #E0E0E0 solid;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 13px 20px 13px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.chat__icon-wrap {
  background-color: #2F2F59;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.chat__icon-wrap img {
  height: 15px;
}

.chat__file-wrap {
  display: flex;
  cursor: pointer;
  margin: 10px 55px 10px 10px;
}

.chat__file-name {
  font-size: 14px;
}

.chat__file-size {
  font-size: 10px;
}

.chat__attach-file {
  margin-right: 15px;
  margin-bottom: 12px;
}

.chat__photo-wrap {
  height: 100px;
  margin-bottom: 20px;
}

.chat__photo-wrap img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.chat__advices {
  display: flex;
  justify-content: flex-end;
}

.chat__advices-text {
  cursor: pointer;
  padding-right: 50px;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
}

.chat__advices-text::after {
  content: url("../../assets/icons/arrow.svg");
  position: absolute;
  bottom: -6px;
  right: 0;
}

@media (max-width: 1200px) {
  .chat__product-name {
    font-size: 12px;
  }
  .chat__advices {
    display: none;
  }
  .chat__field {
    max-height: 478px;
  }
  .chat__header {
    padding: 10px;
  }
  .chat__favorite-btn {
    margin-right: 13px;
  }
  .chat__option-btn {
    width: 15px;
  }
  .chat__options {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
  .chat__bottom-block {
    margin-bottom: 0;
  }
  .chat__message-wrap {
    margin-bottom: 20px;
  }
  .chat__product-photo {
    margin-right: 10px;
  }
}

.my-msg .chat__message-body {
  border-color: #FFC813;
}

.my-msg .chat__message-body::before {
  border-bottom: 8px solid #FFC813;
}

@media (max-width: 767px) {
  .chat {
    display: none;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  .chat__message-wrap {
    margin-bottom: 15px;
  }
  .chat__header {
    border-radius: 0;
    background-color: #b6abab;
    margin-bottom: 0;
    background-color: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid #E0E0E0;
    height: 50px;
  }
  .chat__col:nth-child(1) {
    width: 100%;
  }
  .chat__col:nth-child(2) {
    display: none;
  }
  .chat__back-btn {
    margin-right: 26px;
    transform: rotate(90deg);
    display: block;
    cursor: pointer;
    width: 19px;
    height: 15px;
  }
  .chat__options-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 20px;
    z-index: 1;
  }
  .chat__bottom-block {
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 20px;
    min-height: 40px;
    height: auto;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .chat__bottom-block img {
    height: 18px;
  }
  .chat__textarea {
    border: none;
    padding: 0;
    height: 40px;
    margin-top: 0;
    padding: 10px;
  }
  .chat__product-photo {
    width: 30px;
    height: 30px;
  }
  .chat__product-photo img {
    border-radius: 50%;
  }
  .chat__field {
    background-color: #F6F6F6;
    padding: 20px;
    max-height: unset;
    height: calc( 100vh - 180px);
    scrollbar-width: auto;
    scrollbar-color: auto;
  }
  .chat__field::-webkit-scrollbar {
    width: 0;
  }
  .chat__product-name {
    color: #000;
    border-bottom: none;
    display: block;
    padding: 11px 20px;
  }
  .chat__product-name:hover {
    border-bottom-color: #E0E0E0;
  }
  .chat__multiple-photo {
    margin-top: 5px;
  }
  .chat__multiple-photo li {
    height: 70px;
    width: 48%;
  }
  .chat__message-body {
    max-width: 60%;
    min-width: 205px;
  }
  .chat__product-name {
    display: none;
  }
  .chat__mobile-options.active {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }
  .chat__mobile-option-item {
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .chat__mobile-option-item:last-child {
    padding-bottom: 0;
  }
  .chat__mobile-option-item svg {
    margin-right: 10px;
  }
  .chat__user-name {
    margin-bottom: 0;
    padding: 0;
  }
  .my-msg {
    flex-flow: row-reverse;
  }
  .my-msg .chat__message-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    margin-right: 8px;
  }
  .my-msg .chat__message-body::before {
    position: absolute;
    bottom: -1px;
    left: unset;
    right: -8px;
    transform: rotate(90deg);
    border-bottom: 7px solid #FFC813;
  }
  .my-msg .chat__message-body::after {
    border-bottom: 7px solid white;
    right: -6px;
    left: unset;
    transform: rotate(90deg);
  }
  .my-msg .chat__avatar-smaller {
    display: none;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-smaller {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar-smaller img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar-small img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bottom-block {
  position: fixed;
  bottom: 0;
  height: 35px;
  box-sizing: border-box;
  display: none;
  width: 100vw;
  padding: 7px 20px;
  background-color: #fff;
}

.bottom-block__inner {
  background-color: #fff;
  width: 100%;
}

.bottom-block__menu-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.bottom-block__options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-size: 12px;
  color: #BDBDBD;
  align-items: center;
  justify-content: space-between;
}

.bottom-block__archivate-icon {
  transform: translateY(2px);
}

.bottom-block__archivate-icon path {
  stroke: #BDBDBD;
}

.bottom-block__search-icon {
  transform: translateY(-4px);
}

.bottom-block__search-icon path {
  fill: #000;
}

.bottom-block__favorite-icon {
  transform: translateY(1px);
}

.bottom-block__favorite-icon path {
  stroke: #BDBDBD;
}

@media (max-width: 767px) {
  .bottom-block {
    display: flex;
  }
}

.active-option {
  color: #F2994A;
}

.active-option path {
  stroke: #F2994A;
}

body {
  font-family: 'HelveticaNeueCyr', serif;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  line-height: 18.9px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */