@charset "UTF-8";
.top,
.in-stock,
.new-product,
.promotions,
.seller-delivery {
  display: flex;
  border: 1px solid #FFC813;
  border-radius: 6px;
  align-items: center;
  padding: 3px 6px;
}

.top::before,
.in-stock::before,
.new-product::before,
.seller-delivery::before {
  content: '';
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  display: block;
  margin-right: 3px;
  background-repeat: no-repeat;
}

.new-product::before {
  background-image: url("../assets/icons/tags/new-product.svg");
  background-size: 11px 15px;
}

.in-stock::before {
  background-image: url("../assets/icons/tags/in-stock.svg");
  background-size: 11px 15px;
}

.seller-delivery {
  min-width: 56px;
}

.seller-delivery::before {
  background-image: url("../assets/icons/tags/seller-delivery.svg");
}

.top::before {
  background-image: url("../assets/icons/tags/top.svg");
  background-size: 18px 18px;
  height: 18px;
}

.active-tag {
  background-color: #FFC813;
}

body {
  font-family: 'HelveticaNeueCyr', serif;
  font-weight: 400;
  font-size: 14px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.card-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-container__card-list {
  margin: 0 0 50px 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - 7px));
  grid-gap: 10px;
}

@media (max-width: 1200px) {
  .card-container__card-list {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .card-container {
    margin-top: 30px;
  }
  .card-container__card-list {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 30px;
  }
}

.filters {
  display: flex;
  width: 160px;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
  padding: 13px 15px;
  border: 1px solid #E0E0E0;
  position: relative;
}

.filters__count {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC813;
  margin-right: 10px;
}

.filters::after {
  content: '';
  background-image: url("../assets/icons/arrow.svg");
  height: 12px;
  transform: rotate(-90deg);
  width: 12px;
  background-repeat: no-repeat;
  margin-left: 22px;
  background-size: 9px 11px;
}

.filters__dropdown {
  display: block;
  position: absolute;
  width: 320px;
  background-color: #fff;
  right: 0;
  z-index: 5;
  top: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.1);
}

.filters__dropdown-inner {
  padding: 17px 20px;
}

.filters__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters__found-quantity {
  position: relative;
  margin-bottom: 43px;
}

.filters__item {
  margin-bottom: 40px;
}

.filters__tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.filters__tag-item {
  margin-right: 10px;
  cursor: pointer;
}

.filters__tag-item:nth-child(1), .filters__tag-item:nth-child(2) {
  margin-bottom: 10px;
}

.filters__top-block {
  position: relative;
  padding: 20px 20px 23px 20px;
}

.filters__top-block::after {
  content: '';
  background-image: url("../assets/icons/close.svg");
  background-size: 22px 22px;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.filters__visible-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  font-weight: 550;
  font-size: 12px;
  text-transform: uppercase;
}

.filters__visible-section-col {
  width: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.filters__indicator-line {
  height: 4px;
  background-color: #E0E0E0;
  border-radius: 4px;
}

.filters__indicator-line::before {
  content: '';
  background-color: #FFC813;
  height: 4px;
  display: block;
  width: 50%;
  border-radius: 4px;
}

.filters__chosen-filters {
  color: #BDBDBD;
}

.filters__hiding-name {
  font-size: 14px;
}

.filters__hiding-block {
  margin-top: 20px;
  overflow: hidden;
}

.filters__heading {
  font-size: 16px;
  font-weight: 550;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.filters__left-col {
  display: flex;
  align-items: center;
}

.filters__heading-quantity {
  color: #E0E0E0;
  font-weight: 400;
}

.filters__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.filters__checkbox input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 1px solid #E0E0E0;
  height: 24px;
  width: 24px;
  outline: none;
  border-radius: 4px;
}

.filters__checkbox input[type=checkbox]:checked {
  background-color: #FFC813;
  border-color: #FFC813;
  position: relative;
}

.filters__checkbox input[type=checkbox]:checked::after {
  content: '';
  position: absolute;
  background-image: url("../assets/icons/check-mark.svg");
  width: 18px;
  height: 12px;
  background-repeat: no-repeat;
  left: 4px;
  top: 6px;
}

.filters__checkbox:last-child {
  margin-bottom: 20px;
}

.filters__inputs-quantity {
  color: #E0E0E0;
}

.filters__hiding-name {
  margin-left: 10px;
}

.filters__inputs {
  display: flex;
  flex-flow: column;
  font-size: 14px;
}

.filters__search {
  border: 1px solid #E0E0E0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 15px;
}

.filters__search::placeholder {
  background-color: #E0E0E0;
  font-size: 14px;
}

.filters__btn-style-reset {
  font-size: 12px;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: inherit;
  outline: none;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.filters__more-btn {
  border: 1px solid #FFC813;
  width: 100%;
  padding: 10px;
}

.filters__range-inputs {
  display: flex;
  justify-content: space-between;
}

.filters__input::-webkit-inner-spin-button, .filters__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.filters__input {
  padding: 6px 10px;
  outline: none;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  width: 30%;
}

.filters__input::placeholder {
  color: #BDBDBD;
  font-size: 12px;
}

.filters__input:last-child {
  margin-right: 5px;
}

.filters__apply-single-btn {
  width: 15%;
  border: 1px solid #FFC813;
}

.filters__apply-all-btn {
  width: 100%;
  background-color: #FFC813;
  padding: 11px;
}

.filters__reset-btn {
  width: 100%;
  border: 2px solid #FFC813;
  padding: 13px;
  height: 40px;
}

.filters__chosen-list {
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
  flex-direction: column;
  list-style-type: none;
}

.filters__chosen-item {
  display: flex;
  margin-bottom: 15px;
}

.filters__chosen-item::before {
  content: '';
  background-image: url("../assets/icons/remove-filter.svg");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  display: block;
  padding-right: 8px;
}

.filters__chosen-item:last-child {
  margin-bottom: 0;
}

.hide .filters__hiding-block {
  height: 0;
  margin-top: 0;
}

.hide .filters__heading-icon {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .filters {
    width: auto;
    padding: 10px 0;
    border: none;
    margin-bottom: 35px;
  }
  .filters__name {
    font-size: 12px;
  }
  .filters__count {
    width: 14px;
    height: 14px;
    font-size: 8px;
  }
  .filters::after {
    margin-left: 8px;
  }
  .filters__dropdown {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
  }
}

.active-page {
  color: #F2994A;
}

.page-counter {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.page-counter__inner {
  box-sizing: border-box;
  display: flex;
  width: 214px;
}

.page-counter__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  align-items: center;
  padding: 4px 29px;
  width: 100%;
  font-weight: 550;
  justify-content: space-between;
}

.page-counter__list::after, .page-counter__list::before {
  content: '';
  position: absolute;
  background-image: url("../assets/icons/arrow.svg");
  height: 14px;
  width: 8px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.page-counter__list::before {
  left: 0;
}

.page-counter__list::after {
  transform: rotate(180deg);
  right: 0;
}

.page-counter__item {
  cursor: pointer;
  width: 17px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .page-counter {
    width: 100%;
    position: static;
    transform: translateY(0);
  }
}

.categories-page {
  background-color: #F6F6F6;
  padding: 20px 0 100px 0;
}

.categories-page__options-wrap {
  padding-bottom: 50px;
  border-bottom: 1px solid #E0E0E0;
  z-index: 2;
}

.categories-page__category-list {
  margin-bottom: 30px;
}

.categories-page__search {
  margin-right: 30px;
  width: calc(100% - 160px - 30px);
  max-width: 979px;
}

.categories-page__options {
  display: flex;
  align-items: center;
}

.categories-page__ads-number-wrap {
  font-weight: 450;
  margin-bottom: 20px;
}

.categories-page__show-more-btn {
  border: 2px solid #FFC813;
  background-color: #fff;
  color: #333333;
  text-transform: uppercase;
  height: 50px;
  padding: 18px 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  outline: none;
}

.categories-page__bottom-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.categories-page__all-ads {
  cursor: pointer;
  font-size: 12px;
  display: none;
  padding: 10px 0;
}

.categories-page__all-ads::after {
  content: '';
  background-image: url("../assets/icons/arrow.svg");
  height: 12px;
  width: 12px;
  transform: rotate(-90deg);
  background-repeat: no-repeat;
  margin-left: 22px;
  background-size: 9px 11px;
}

@media (max-width: 1200px) {
  .categories-page__page-counter-wrap {
    width: 100%;
    position: static;
    transform: translateY(0);
  }
  .categories-page__show-more-btn {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .categories-page {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .categories-page__category-list, .categories-page__bottom-block-container {
    display: none;
  }
  .categories-page__options-wrap {
    background-color: #fff;
    border-bottom: none;
    padding-bottom: 0;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    top: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
  }
  .categories-page__options {
    height: 40px;
    justify-content: space-between;
  }
  .categories-page__all-ads {
    display: flex;
  }
  .categories-page__all-ads::after {
    margin-left: 8px;
    background-size: 10px 11px;
  }
  .categories-page__ads-number-wrap {
    margin-bottom: 15px;
  }
}

.search .select-city-active {
  visibility: visible;
}

.search__form {
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.search__arrow-down {
  position: absolute;
  top: 23px;
  right: 22px;
}

.search__right-block {
  display: flex;
}

.search__dropdown, .search__input {
  box-sizing: border-box;
  border: 1px solid #E0E0E0;
  background-color: inherit;
  border-radius: 10px;
}

.search__dropdown {
  width: 249px;
  margin: 0;
  height: 100%;
  position: relative;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.search__selected {
  padding: 16px;
  padding-left: 55px;
  border-left: 1px solid #E0E0E0;
  cursor: pointer;
  position: relative;
}

.search__selected::after {
  content: url("../assets/icons/search/location.svg");
  position: absolute;
  left: 23px;
  top: 15px;
}

.search__selected::before {
  content: '';
  background-image: url("../assets/icons/arrow-down.svg");
  position: absolute;
  top: 22px;
  right: 23px;
  background-repeat: no-repeat;
  background-size: 13px 6px;
  height: 7px;
  width: 13px;
}

.search__dropping-block-container {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 268px;
  background-color: #fff;
  top: 60px;
  box-shadow: 0 3px 15px -4px rgba(68, 68, 68, 0.4);
  border-radius: 4px;
}

.search__dropping-block {
  scrollbar-width: thin;
  scrollbar-color: #E0E0E0 transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 98.8%;
  max-height: 290px;
  overflow-y: auto;
}

.search__dropping-block::-webkit-scrollbar {
  width: 4px;
}

.search__dropping-block::-webkit-scrollbar-thumb {
  background-color: #E0E0E0;
  border-radius: 2px;
  padding-right: 5px;
}

.search__dropping-block li {
  user-select: none;
  cursor: pointer;
  margin: 17px 20px;
  position: relative;
}

.search__dropping-block li::after {
  position: absolute;
  right: -5px;
}

.search__find {
  background-color: #FFC813;
  box-sizing: border-box;
  height: 100%;
  width: 147px;
  padding-right: 70px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 69px 0 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search__find::after {
  content: url("../assets/icons/search/find.svg");
  position: absolute;
  right: 34px;
  top: 10px;
}

.search__input, .search__find {
  outline: none;
}

.search__input {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  padding-left: 30px;
  width: 775px;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.search__input::placeholder {
  font-size: 14px;
  color: #4F4F4F;
}

@media (max-width: 1200px) {
  .search__find {
    padding: 0 17px;
    width: 117px;
  }
  .search__find::after {
    right: 12px;
  }
  .search__dropdown {
    width: 193px;
  }
  .search__selected::before {
    right: 16px;
  }
}

@media (max-width: 767px) {
  .search {
    display: none;
  }
}

.card {
  box-sizing: border-box;
  height: 700px;
  width: 100%;
}

.card .active-slide {
  background-color: #4F4F4F;
}

.card__wrap {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.card__header {
  padding: 7px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #E0E0E0;
}

.card__logo {
  height: 34px;
  margin-right: 14px;
}

.card__seller-name {
  font-weight: 600;
}

.card__country-name {
  font-size: 10px;
  color: #828282;
}

.card__photo-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 400px;
}

.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__list, .card__arrow-right, .card__arrow-left {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 47%;
}

.card__list svg, .card__arrow-right svg, .card__arrow-left svg {
  transition: 0.25s all;
}

.card__list svg:hover, .card__arrow-right svg:hover, .card__arrow-left svg:hover {
  transform: scale(1.1);
}

.card__list {
  left: 10px;
}

.card__arrow-right, .card__arrow-left {
  opacity: 0.8;
}

.card__arrow-right {
  right: 10px;
}

.card__arrow-left {
  left: 10px;
  transform: rotate(180deg);
}

.card__characteristics {
  padding: 12px;
}

.card__slide-markers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 15px;
  align-items: center;
}

.card__slide-markers li {
  background-color: #C4C4C4;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.card__slide-markers li:last-child {
  margin-right: 0;
}

.card__content {
  padding: 0 10px;
}

.card__options-wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.card__options-wrap ul {
  display: flex;
  justify-content: space-between;
}

.card__options, .card__rating {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__options li {
  margin-right: 15px;
}

.card__options li img {
  cursor: pointer;
}

.card__rating li {
  margin-right: 7px;
}

.card__rating img {
  height: 13px;
  width: 13px;
}

.card__price-wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 15px;
}

.card__new-price::after, .card__old-price::after {
  content: ' грн';
}

.card__new-price {
  color: green;
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
}

.card__old-price {
  color: #BDBDBD;
  text-decoration: line-through;
}

.card__description-wrap {
  line-height: 18px;
  margin-bottom: 10px;
}

.card__description-mark {
  font-weight: 600;
}

.card__more-info {
  color: #BDBDBD;
  cursor: pointer;
}

.card__characteristic {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 14px;
}

.card__subtitle {
  margin: 20px 0;
}

.card__title {
  margin: 0;
  text-align: center;
}

.card__title, .card__subtitle {
  font-size: 18px;
  font-weight: 550;
}

.card__all-reviews-btn {
  cursor: pointer;
  color: #BDBDBD;
  margin-bottom: 5px;
}

.card__reviews-list {
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;
}

.card__reviews-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.card__user-name {
  font-weight: 600;
}

.card__add-review {
  border-top: 1px solid #E0E0E0;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.card__score-wrap {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  transition: 0.25s;
}

.card__score-wrap li {
  transition: 0.25s;
  position: absolute;
  left: 0;
}

.card__score-wrap li:hover ~ li path {
  fill: #E5E5E5;
}

.card__score {
  cursor: pointer;
  width: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 88%;
  margin-right: 8px;
}

.card__input::placeholder {
  font-size: 14px;
}

.card__send {
  cursor: pointer;
  width: 26px;
  height: 20px;
}

.card__score-wrap_show li:nth-child(1) {
  left: 0;
}

.card__score-wrap_show li:nth-child(2) {
  left: 20%;
}

.card__score-wrap_show li:nth-child(3) {
  left: 40%;
}

.card__score-wrap_show li:nth-child(4) {
  left: 60%;
}

.card__score-wrap_show li:nth-child(5) {
  left: 80%;
}

.card__slider {
  position: relative;
  width: 100%;
}

.card__strip {
  overflow: hidden;
  display: flex;
  transition: all 0.37s ease-in-out;
  height: 100%;
}

.card__gallery {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}

.card__gallery li {
  width: 100%;
}

@media (max-width: 767px) {
  .card__wrap {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #E0E0E0;
  }
  .card__header {
    padding: 7px 20px;
  }
  .card__content {
    padding: 0 20px;
  }
  .card__product-name {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.bottom-block {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 35px;
  box-sizing: border-box;
  display: none;
  width: 100%;
  padding: 7px 20px;
  z-index: 2;
}

.bottom-block__inner {
  background-color: #fff;
  width: 100%;
}

.bottom-block__menu-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.bottom-block__options {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-size: 12px;
  color: #BDBDBD;
  align-items: center;
  justify-content: space-between;
}

.bottom-block__archivate-icon {
  transform: translateY(2px);
}

.bottom-block__archivate-icon path {
  stroke: #BDBDBD;
}

.bottom-block__search-icon {
  transform: translateY(-4px);
}

.bottom-block__search-icon path {
  fill: #000;
}

.bottom-block__favorite-icon {
  transform: translateY(1px);
}

.bottom-block__favorite-icon path {
  stroke: #BDBDBD;
}

@media (max-width: 767px) {
  .bottom-block {
    display: flex;
  }
}

.active-option {
  color: #F2994A;
}

.active-option path {
  stroke: #F2994A;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-smaller {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar-smaller img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar-small img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container,
.full-width-mobile-container {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
}

.js-move-container {
  padding-left: calc((100vw - 1185px) / 2);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .js-move-container {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .full-width-mobile-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.heading {
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.category-list__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.category-list__item {
  width: 215px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #CEDCFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  margin-right: 23px;
  box-sizing: border-box;
}

.category-list__description {
  font-size: 14px;
  width: 60%;
  line-height: 20px;
}

.category-list__image-wrap {
  object-fit: cover;
}

.category-list__image-wrap img {
  height: 50px;
}

.category-list__show-all-btn {
  display: none;
}

@media (max-width: 1200px) {
  .categories__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .categories__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    max-height: 440px;
    overflow: hidden;
  }
  .categories__show-all-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
/*# sourceMappingURL=main.css.map */