.search {
  .select-city-active {
    visibility: visible;
  }

  &__form {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: relative;
  }

  &__arrow-down {
    position: absolute; 
    top: 23px; 
    right: 22px;
  }

  &__right-block {
    display: flex;
  }

  &__city-dropdown,
  &__input {
    box-sizing: border-box;
    border: 1px solid #BDBDBD;
    background-color: inherit;
    border-radius: 10px;
  }

  &__city-dropdown {
    width: 249px;
    margin: 0;
    height: 100%;
    position: relative;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  &__searchbar-dropdown {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 0;
  }

  &__selected {
    padding: 16px;
    padding-left: 55px;
    border-left: 1px solid #BDBDBD;
    cursor: pointer;
    position: relative;

    &::after {
      content: url('../assets/icons/search/location.svg');
      position: absolute;
      left: 23px;
      top: 15px;
    }

    &::before {
      content: url('../assets/icons/arrow-down.svg');
      position: absolute;
      top: 18px;
      right: 23px;
    }
  }

  &__dropping-block-container {
    position: absolute;
    z-index: 10;
    width: 268px;
    background-color: #fff;
    top: 60px;
    box-shadow: 0 3px 15px -4px rgba(68, 68, 68, 0.4);
    border-radius: 4px;
  }

  &__dropping-block {
    // mozilla scrollbar 
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #E0E0E0;
      border-radius: 2px;
      padding-right: 5px;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98.8%;
    max-height: 290px;
    overflow-y: auto;

    li {
      user-select: none;
      cursor: pointer;
      margin: 17px 20px;
      position: relative;

      &::after {
        position: absolute;
        right: -5px;
      }
    }
  }

  &__find {
    background-color: #FFC813;
    box-sizing: border-box;
    height: 100%;
    width: 147px;
    padding-right: 70px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 69px 0 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::after {
      content: url('../assets/icons/search/find.svg');
      position: absolute;      
      right: 34px;
      top: 10px;
    }
  }

  &__input,
  &__find {
    outline: none;
  }

  &__input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 30px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &::placeholder {
      font-size: 14px;
      color: #4F4F4F;
    }
  }

  &__searchbar-wrap {
    width: 100%;
    z-index: 3;
  }


  // search bar dropdown

  &__searchbar-dropdown {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__found-products-list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 8px 42px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }

  &__all-results-btn {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 17px;
    color: #F2994A;
    font-size: 10px;
    margin-left: 36px;
    position: relative;

    &::after {
      content: '';
      background-image: url('../assets/icons/search/orange-arrow.svg');
      position: absolute;
      height: 16px;
      width: 16px;
      top: -2px;
    }
  }

  &__photo {
    margin-right: 15px;
    flex-shrink: 0;
  }

  &__price {
    flex-shrink: 0;
    margin-left: 15px;
  }

  &__found-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__name {
    height: 19px;
    max-width: 560px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__type {
    color: #BDBDBD;
    font-size: 10px;
  }

  &__categories-container {
    padding: 0 35px;
  }
}

@media (max-width: 1200px) {
  .search {
    &__searchbar-dropdown {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .search {
    &__find::after{
      top: 50%;
      right: 50%;  
    }

    &__dropping-block-container {
      top: 40px;
      right: -45px;
    }

    &__city-dropdown,
    &__selected,
    &__find {
      width: 46px;
      padding: 0;
    }

    &__selected-text,
    &__find-text {
      display: none;
    }

    &__selected::after {
      top: 50%;
      left: 50%;
    } 

    &__find::after {
      top: 4px;
      right: 8px;
    }

    &__selected::before {
      content: none;
    }

    &__city-dropdown,
    &__input {
      height: 100%;
    }

    &__form {
      height: 36px;
    }

    &__input {
      padding-left: 14px;
    }

    &__city-dropdown {
      border-left: 1px solid #BDBDBD;
    }

    &__selected {
      &::after {
        top: 7px;
        left: 12px;
      }
    }

    &__searchbar-dropdown {
      position: absolute;
    }

  }
}
