.card-container {
  background-color: #F6F6F6;
  padding-top: 50px;
  margin-bottom: 100px;

  &__card-list {
    margin: 0 0 50px 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;  
  }

}


