.categories {

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(80px, auto);
  }

  &__item {
    cursor: pointer;
    border-radius: 10px;
    background-color: #CEDCFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
  }

  &__description {
    font-size: 14px;
    max-width: 105px;
    line-height: 20px;
  }

  &__image-wrap {
    object-fit: cover;
    
    img {
      height: 50px;
    }
  }
}

@media (max-width: 1200px) {
  .categories {
    &__list {
      grid-template-columns: repeat(3, 1fr);

    }
  }
}

@media (max-width: 767px) {
  
}