.main {
  overflow: hidden;

  &__block-wrap-gray {
    background-color: #f5f5f5;
  }

  &__container {
    padding: 50px 0;
  }

  &__heading {
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

  &__promotion-list {
    width: 9999px;
    display: flex;
    margin: 0;
    list-style-type: none;
  }

  &__promo-item {
    height: 215px;
    width: 570px;
    border-radius: 10px;
    background-color: rebeccapurple;
    margin-right: 30px;
    background-image: url('https://s3-alpha-sig.figma.com/img/5590/1ae5/e1cc7eb579a3d0755cae9b0746759fed?Expires=1619395200&Signature=Qd03dL-~KYJLwHhFqFYQdU3C9t6gZYUCN~y4k1WBY6lIApS9YBRvGFDfR0sWHlIMMxhqqLcalj0lbgV2Z~TTSrZyIh0yyXOq5LCEUQGgWVrNVMh5dmSMEoNtDBrlyidfGQ6ElDa1M-5vuAMfPugIyHEEVdxR7T9VL9nz8DpHNLg8kNzuxxeXFcXo9CJvaLkSNPrxXti~FCgxyHFExzU9E0dDa4TQwg3-dUPKVfSh6HxO2eac8VAvqFNs8F6Dgcb~xkFjwcu20aFQ8rnUD7G0AySl4sTSVd6v~G0P4UZY7KqhE9f-XNJDHQ3bzirEE4Z87Oe8GMSJc9JrtWKkERyWnw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-size: cover;	
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }
  

  // ===================== 
  &__top-sales-heading {
    font-size: 28px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
