.main {
  background-color: #F6F6F6;

  &__category-list {
    margin-bottom: 30px;
  }

  &__id {
    display: flex;
  }

  &__options {
    display: flex;
  
  }

  &__search {
    margin-right: 30px;
  }

}
