.page-counter {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &__inner {
    box-sizing: border-box;
    display: flex;
    width: 200px;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    display: flex;
    position: relative;
    align-items: center;
    padding: 4px 10px;
    width: 100%;
    font-weight: 550;
    justify-content: space-between;

    li {
      cursor: pointer;
      width: 17px;
      display: flex;
      justify-content: center;
  
      &.active {
        color: #F2994A;
      }
    }
  }

  &__prev,
  &__next {
    cursor: pointer;
  }
  &__next {
    transform: rotate(180deg);
  }

  &__dots {
    display: none;

    &.active {
      display: block;
    }
  }
}


@media (max-width: 1200px) {
  .page-counter {
    width: 100%;
    position: static;
    transform: translateY(0);

  }
}
