.search {
  .select-city-active {
    visibility: visible;
  }

  &__form {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
  }

  &__arrow-down {
    position: absolute; 
    top: 23px; 
    right: 22px;
  }

  &__right-block {
    display: flex;
  }

  &__dropdown,
  &__input {
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    background-color: inherit;
    border-radius: 10px;
  }

  &__dropdown {
    width: 249px;
    margin: 0;
    height: 100%;
    position: relative;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  &__selected {
    padding: 16px;
    padding-left: 55px;
    border-left: 1px solid #E0E0E0;
    cursor: pointer;
    position: relative;

    &::after {
      content: url('../assets/icons/search/location.svg');
      position: absolute;
      left: 23px;
      top: 15px;
    }

    &::before {
      content: '';
      background-image: url('../assets/icons/arrow-down.svg');
      position: absolute;
      top: 22px;
      right: 23px;
      background-repeat: no-repeat;
      background-size: 13px 6px;
      height: 7px;
      width: 13px;
    }
  }

  &__dropping-block-container {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 268px;
    background-color: #fff;
    top: 60px;
    box-shadow: 0 3px 15px -4px rgba(68, 68, 68, 0.4);
    border-radius: 4px;
  }

  &__dropping-block {
    // mozilla scrollbar 
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #E0E0E0;
      border-radius: 2px;
      padding-right: 5px;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98.8%;
    max-height: 290px;
    overflow-y: auto;

    li {
      user-select: none;
      cursor: pointer;
      margin: 17px 20px;
      position: relative;

      &::after {
        // content: url('http://127.0.0.1:5500/molot-front/assets/icons/arrow-right.svg');
        position: absolute;
        right: -5px;
      }
    }
    
  }

  &__find {
    background-color: #FFC813;
    box-sizing: border-box;
    height: 100%;
    width: 147px;
    padding-right: 70px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 69px 0 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::after {
      content: url('../assets/icons/search/find.svg');
      position: absolute;      
      right: 34px;
      top: 10px;
    }
  }

  &__input,
  &__find {
    outline: none;
  }

  &__input {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    padding-left: 30px;
    width: 775px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &::placeholder {
      font-size: 14px;
      color: #4F4F4F;
    }
  }
}

@media (max-width: 1200px) {
  .search {
    &__find {
      padding: 0 17px;
      width: 117px;
      
      &::after {
        right: 12px;
      }
    }

    &__dropdown {
      width: 193px;
    }

    &__selected {
      &::before {
        right: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .search {
    display: none;
  }
}
