.filters {
  display: flex;
  width: 160px;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
  box-sizing: border-box;
  padding: 13px 15px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  position: relative;

  &__count {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC813;
    margin-right: 10px;
  }

  &::after {
    content: '';
    background-image: url('../assets/icons/arrow.svg');
    height: 12px;
    transform: rotate(-90deg);
    width: 12px;
    background-repeat: no-repeat;
    margin-left: 22px;
    background-size: 9px 11px;
  }

  &__dropdown {
    position: absolute;
    width: 320px;
    background-color: #fff;
    right: 0;
    z-index: 5;
    border: 1px dotted red;
    top: 60px;
    border-radius: 10px;
  }
  
  &__inner {
    margin: 0;
    list-style-type: none;
    padding: 17px 20px;
  }

  &__found-amount {
    position: relative;
  }

  &__item {
    margin-bottom: 40px;
  }


 

}

