

.chat {

  .choose-chat {
    display: none;
  }

  width: 60%;
  background-color: #fff;
  padding: 15px;
  height: 745px;
  box-sizing: border-box;
  border-radius: 10px;

  &__top-block {
    padding: 10px 18px;
    background-color: #F2F2F2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  &__options {
    display: flex;
  }

  &__favorite-btn { 
    margin-right: 20px;
  }

  &__option-btn {
    margin-right: 20px;
    cursor: pointer;
    width: 20px;
  }
  
  &__top-block-info {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__product-photo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  &__field {
    overflow-y: auto;
    max-height: 515px;

    &::-webkit-scrollbar{
      width: 3px;
      background-color: #E0E0E0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #BDBDBD;
      border-radius: 2px;
    }
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 transparent;
  }

  &__user-name{
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__product-name {
    color: #F2994A;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid transparent;

    
    &:hover {
      border-bottom: 1px solid #F2994A;
      cursor: pointer;
    }

    
  }

  &__avatar-smaller {
    margin-right: 10px;
  }

  &__date {
    color: #BDBDBD;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__message-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    // max-width: 300px;
    box-sizing: border-box;
    margin-bottom: 40px;
    
  }
  
  &__message-text {
    margin: 10px 55px 10px 10px;
  }

  &__sent-time {
    font-size: 10px;
    color: #828282;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

  &__message-body {
    border: 1px solid #E0E0E0;
    background-color: #fff;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    max-width: 300px;
    
    &::before {
      content: '';
      border-left: 7px solid transparent;
      border-bottom: 8px solid #E0E0E0;
      position: absolute;
      bottom: -1px;
      left: -7px;
    }

    &::after {
      content: '';
      border-left: 7px solid transparent;
      border-bottom: 8px solid white;
      position: absolute;
      bottom: 0px;
      left: -5px;
    }
  }

  &__textarea-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    
    img {
      cursor: pointer;
    }
  }

  &__multiple-photo {
    margin: 5px 0 10px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      cursor: pointer;
      margin: 2px;
      height: 80px;
      width: 48%;
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__send {
    position: absolute;
    width: 26px;
    height: 25px;
    right: 10px;
    bottom: 13px;
  }

  &__textarea {
    border: 1px #E0E0E0 solid;
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 15px 50px 15px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }

  &__icon-wrap {
    background-color: #2F2F59;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    
    img {
      height: 15px;
    }
  }

  &__file-wrap {
    display: flex;
    cursor: pointer;
    margin: 10px 55px 10px 10px;
  }

  &__file-name {
    font-size: 14px;
  }

  &__file-size {
    font-size: 10px;
  }

  &__attach-file {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  &__photo-wrap {
    height: 100px;
    margin-bottom: 20px;

    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      cursor: pointer;
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__advices {
    display: flex;
    justify-content: flex-end;
  }

  &__advices-text { 
    cursor: pointer;
    padding-right: 50px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;

    &::after {
      content: url('http://127.0.0.1:5500/chat/assets/icons/arrow.svg');
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .chat {
    height: 670px;

    &__product-name {
      font-size: 12px;
    }

    &__advices {
      display: none;
    }

    &__field {
      max-height: 480px;
    }

    &__top-block {
      padding: 10px;
    }

    &__favorite-btn { 
      margin-right: 13px;
    }

    &__option-btn {
      width: 15px;
    }

    &__options {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__message-wrap {
      margin-bottom: 20px;
    }

    &__product-photo {
      margin-right: 10px;
    }
  }
}

.my-msg {
  .chat {
    &__message-body {
      border-color: #FFC813;

      &::before {
        border-bottom: 8px solid #FFC813;
      }
    }
  }
}

@media (max-width: 767px) {
  .chat {

    height: calc(100vh - 50px);

    &__message-wrap {
      margin-bottom: 15px;
    }

    &__inner {
      height: calc(100vh - 203px);
    }

    &__textarea-wrap {
      img {
        height: 18px;
        
      }
    }


    display: none;
    width: 100%;
    border-radius: 0;
    padding: 0;

    &__top-block {
      border-radius: 0;
      background-color: rgb(182, 171, 171);
      margin-bottom: 0;
      padding: 0;
      background-color: #fff;
    }

    &__col:nth-child(1) {
      width: 100%;
    }

    &__col:nth-child(2) {
      display: none;
    }

    &__textarea-wrap {
      align-items: center;
      box-sizing: border-box;
      padding: 0 20px;
      min-height: 40px;
      height: auto;
      margin-bottom: 0;
    }

    &__textarea {
      border: none;
      padding: 0;
      height: 40px;
      margin-top: 0;
      padding: 10px;
    }

    &__product-photo {
      
    }

    &__field {
      background-color: #F6F6F6;
      padding: 20px;
      max-height: unset;
      height: 100%;

      &::-webkit-scrollbar{
        width: 0;
      }
      scrollbar-width: auto;
      scrollbar-color: auto;
    }

    &__product-name {
      color: #000;
      border-bottom: none;
      display: block;
      padding: 11px 20px;

      &:hover {
        border-bottom-color: #E0E0E0;
      }
    }

    &__multiple-photo {
      margin-top: 5px;
      
      li {
        height: 70px;
        width: 48%;
      }
    }

    &__message-body {
      max-width: 60%;
      min-width: 205px;
    }

    &__product-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__product-name,
    &__user-name{
      border-bottom: 1px solid #E0E0E0;
    }

    &__user-name{
      margin-bottom: 0;
      padding: 10px 20px;
    }
  }

  .my-msg {
    flex-flow: row-reverse;

    .chat {
      &__message-body {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        margin-right: 8px;

        &::before {
          position: absolute;
          bottom: -1px;
          left: unset;
          right: -8px;
          transform: rotate(90deg);
          border-bottom: 7px solid #FFC813;
        }
    
        &::after {
          border-bottom: 7px solid white;
          right: -6px;
          left: unset;
          transform: rotate(90deg);
        }
      }

      &__avatar-smaller {
        display: none;
      }
    }
  }
}

