.container,
.full-width-mobile-container {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
}

.js-move-container {
  padding-left: calc((100vw - 1185px) / 2);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .js-move-container {
    padding-left: 20px;
  }

}

@media (max-width: 767px) {
  .full-width-mobile-container {
    padding-left: 0;
    padding-right: 0;
  }
  
}

