.main {
  &__ads-wrapper {
    margin-bottom: 100px;
    padding-top: 50px;
    border-top: 1px solid #E0E0E0;
  }

  &__found {
    margin-bottom: 20px;
  }

  &__col {
    display: flex;
  }

  &__col:nth-child(1) {
    width: 550px;
  }

  &__seller {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: #fff;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px 15px 10px;
    justify-content: space-between;
  }


  &__seller-contacts {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }

  &__seller-phone {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__seller-media {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li {
      margin-right: 5px;
      display: flex;
      align-self: center;
      margin-right: 20px;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  &__seller-rating {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    
    li {
      display: block;
    }
  }

  &__seller-header {
    align-items: baseline;
  }

  &__seller-name {
    font-size: 30px;
    margin-right: 15px;
  }

  &__shop-btn {
    outline: none;
    border: 2px solid #FFC813;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: #fff;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
  }

  &__mobile-shop-btn {
    display: none;
    cursor: pointer;
  }

  &__mobile-rating {
    display: none;
    font-size: 12px;
    margin-left: 12px;
  }

  &__location-star {
    display: flex;
  }

  &__sales-quantity,
  &__seller-reviews {
    position: relative;

    img {
      position: absolute;
    }
  }

  &__sales-quantity {
    img {
      left: -23px;
    }
  }

  &__seller-reviews {
    img {
      left: -27px;
    }
  }

  &__seller-location {
    color: #828282;

    svg {
      transform: translateY(3px);
    }
  }

  &__seller-summary,
  &__seller-header {
    display: flex;
    width: 100%;
  }

  &__seller-summary {
    font-size: 18px;
    align-items: center;
  }

  &__seller-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__seller-reviews,
  &__seller-rating {
    margin-right: 60px;
  }

  &__seller-reviews {
    img {
      margin-right: 5px;
    }
  }

  &__options {
    margin-bottom: 50px;
    display: flex;
  }

  &__input {
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: none;
    width: 605px;
    padding-left: 20px;
  }

  &__search-wrap, 
  &__category-dropdown {
    margin-right: 30px;
  }

  &__search-wrap {
    width: 100%;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin-right: 30px;
  }

  &__input {
    border-radius: 10px;
    width: 100%;
  }

  &__find {
    height: 50px;
    background-color: #FFC813;
    outline: none;
    border: none;
    height: 48px;
    width: 55px;
    padding: 0;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    cursor: pointer;
  }
  
  &__category-dropdown {
    width: 290px;
    height: 50px;
    background-color: #fff;
    display: flex;
    padding-left: 20px;
    flex-shrink: 0;
  }

  &__logo {
    height: 65px;
    width: 65px;
    margin-right: 15px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

}

@media (max-width: 1200px) {
  .main {
    &__search-wrap, 
    &__category-dropdown {
      margin-right: 5px;
    }

    &__category-dropdown {
      width: 220px;
    }

    &__seller {
      padding-left: 5px;
      padding-right: 20px;
    }

    &__seller-reviews {
      margin-right: 30px;
    }

    &__shop-btn {
      display: none;
    }
    
    &__seller-contacts {
      margin: 0;
    }

  }
}

@media (max-width: 767px) {
  .main {
    &__category-dropdown,
    &__search-wrap {
      display: none;
    }

    &__found {
      margin-bottom: 15px;
    }

    &__ads-wrapper {
      border: none;
      padding-top: 30px;
    }

    &__seller {
      height: 52px;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    &__options {
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
      padding: 0 20px;
      height: 40px;
      margin-bottom: 0;
      justify-content: space-between;
    }

    &__seller-name {
      font-size: 14px;
    }

    &__seller-summary {
      display: none;
    }
    
    &__seller-header {
      flex-direction: column;
      align-items: flex-start;
    }

    &__seller-location {
      font-size: 10px;

      svg {
        height: 11px;
        width: 11px;
        transform: translateY(2px);
      }
    }

    &__logo {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    
    &__seller-contacts {
      display: none;
    }

    &__mobile-shop-btn {
      display: block;
    }

    &__seller {
      padding: 5px;
    }

    &__mobile-rating {
      display: flex;
    }
  }
}
